body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    color: #333;
    margin: 0 auto;
}

*,
:after,
:before {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

/*====TOP====*/

.wrap-top {
    width: 100%;
    min-height: 100vh;
    background: url("../images/intro-bcg/intro.jpg") center no-repeat;
    background-size: cover;
}

/*====CONTAINER====*/

.container {
    max-width: 1232px;
    margin: 0 auto;
}

/*====HEADER====*/

.header {
    padding-top: 30px;
    margin-bottom: 50px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    font-size: 30px;
    font-weight: 700;
    color: #fff;
}


/*====NAV====*/

.nav {
    font-size: 14px;
    text-transform: uppercase;
}

.nav__link {
    display: inline-block;
    margin: 0 20px;
    color: #fff;
    text-decoration: none;
    position: relative;
    transition: color .1s linear;
}

.nav__link:after {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #fce38a;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    opacity: 0;
    transition: opacity .1s linear;
}

.nav__link:hover {
    color: #fce38a;
}

.nav__link:hover:after,
.nav__link.active:after {
    display: block;
    opacity: 1;
}

.nav__link.active {
    color: #fce38a;
}

/*====MAIN====*/

.main__inner {
    width: 100%;
    max-width: 880px;
    margin: 0 auto;

    text-align: center;
}

.main__sup-title {
    font-size: 68px;
    color: #ffffff;
    font-family: 'Kaushan Script', cursive;
    opacity: 80%;
    margin-bottom: 20px;
}

.main__title {
    color: #ffffff;
    font-size: 130px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
}

.main__title:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #ffffff;
    margin: 40px auto;
}

/*====Button====*/

.btn {
    display: inline-block;
    vertical-align: top;
    padding: 8px 30px;
    border: 3px solid #fff;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    transition: background .1s linear, color .1s linear;
}

.btn:hover {
    background-color: #fff;
    color: #fce38a;
}

/*====Slider====*/

.slider {
    margin-top: 80px;
}

.slider__inner {
    display: flex;
    justify-content: space-between;
}

.slider__item {
    width: 23%;
    padding: 20px 0;
    position: relative;
    border-top: 3px solid #fff;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    opacity: 70%;
}

.slider__item.active {
    opacity: 100%;
}

.slider__item.active:before {
    content: "";
    display: block;
    position: absolute;
    width: 70px;
    height: 3px;
    background-color: #f38181;
    top: -3px;
    left: 0;
    z-index: 1;
}

.slider__num {
    font-size: 24px;
    font-weight: 700;
}








